target/
pom.xml.versionsBackup
dependency-reduced-pom.xml
test-output/
/atlassian-ide-plugin.x
.idea/
.*.swo
*~
*.swp
*.iml
*.ipr
*.iws
.DS_Store
.project
.classpath
.settings
eclipse-classes
.arc
.pmd
.pmdruleset
