target/
pom.xml.versionsBackup
test-output/
/atlassian-ide-plugin.x
.idea/
.*.swo
*~
*.swp
*.iml
*.ipr
*.iws
.DS_Store
.project
.classpath
.settings
eclipse-classes
.arc
*.releaseBackup
release.properties
dependency-reduced-pom.xml
